<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf013;"></Label>
    <Label class="page__content-placeholder" text="Usuario Actual"></Label>
    <Label class="page__content-placeholder" [text]="usuarioActual" color="blue"></Label>
    <Label class="page__content-placeholder" [text]="nombreUsuario"></Label>
    
    <Label class="hr m-10 m-b-40"></Label>
    <TextField #texto="ngModel" [(ngModel)]="textFieldValue" hint="Ingresar texto..."></TextField>
    <Button text="Editar" (tap)="onTap()"></Button>
</StackLayout>>




<!--
    <GridLayout class="page__content" columns="*" rows="*,*,*,*,*">
    <Label col="0" row="0" class="page__content-icon fas" text="&#xf013;"></Label>
-   <Label col="0" row="1" class="page__content-placeholder" text="<!-- Page content goes here "></Label>
<Label text="Label 3" col="0" row="2" backgroundColor="blue"></Label>
<Label text="Label 4" col="0" row="3" backgroundColor="yellow"></Label>
</GridLayout>
-->