<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="More"></Label>
</ActionBar>

<StackLayout class="page__content">
    
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
    <RadListView class="list-group" [items]="this.nombres.buscar()"
        pullToRefresh="true"
        (pullToRefreshInitiated)="onPullToRefreshInitiated($event)" style="height: 1250px;">
        <ListView class="list-group" style="height: 1250px;">
            <ng-template let-item="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image src="~/app/image/spring.png" class="thumb img-circle"></Image>
                    <Label class="labelText" [text]="item" textWrap="true"></Label>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </RadListView>

</StackLayout>