<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Home"></Label>
</ActionBar>

<Label class="page__content-icon fas" text="&#xf015;"></Label>

<GridLayout columns="*,*,*" rows="*,*,*,*,*" class="page__content">
    <!-- Using local image from app/images/logo.png -->
    <Image class="image" row="0" col="1" src="~/app/image/spring.png" stretch="aspectFit"></Image>
    <Label row="1" rowSpan="2" colSpan="3" class="page__content-placeholder" text="<!-- Page content goes here -->"></Label>
    <Button row="2" col="1" class="btn-more -primary -rounded-lg" text="Ir a More"  (tap)="onNavItemTap('/more')"></Button>
    <Button row="4" col="1" text="Display Action Dialog" (tap)="displayActionDialog()" class="btn-more -primary -rounded-lg" ></Button>
    <Label row="3" col="1" class="color" text="Css Android!"></Label>
    
   
</GridLayout>






